@using Client.Services.Authentication
@using Client.Components.Common

@inject NavigationManager Navigation
@inject IAuthService AuthService
@inject IDialogService DialogService
@inject AuthStoreService AuthStoreService

@implements IDisposable

<MudMenu AnchorOrigin="Origin.BottomRight">
    <ActivatorContent>
        <div class="d-flex justify-end">
            <MudButton Variant="Variant.Text" EndIcon="@Icons.Filled.AccountCircle" Color="Color.Inherit">
                @(AuthStoreService.UserName ?? "ゲスト")
            </MudButton>
        </div>
    </ActivatorContent>
    <ChildContent>
        @if(AuthStoreService.IsLoggedIn)
        {
            <MudButton Class="mud-menu-button" OnClick="@Logout" StartIcon="@Icons.Filled.Logout">ログアウト</MudButton>
        }
        else
        {
            <MudButton Class="mud-menu-button" Href="login" StartIcon="@Icons.Filled.Login">ログイン</MudButton>
        }
    </ChildContent>
</MudMenu>

@code {
    protected override void OnInitialized()
    {
        AuthStoreService.Notify += OnNotifyAuthStoreChange;
    }

    public void Dispose()
    {
        AuthStoreService.Notify -= OnNotifyAuthStoreChange;
    }

    public void OnNotifyAuthStoreChange() => InvokeAsync(StateHasChanged);

    private async Task Logout()
    {
        bool? result = await DialogService.ShowMessageBox(
            "ログアウト",
            "ログアウトしますか？",
            yesText: "OK", cancelText: "キャンセル");

        if (result == null) return;

        await AuthService.LogoutAsync();
        Navigation.NavigateTo("", false);
    }
}