@page "/login"

@using Client.Components.Common
@using Client.Services.Authentication

@inject AuthStoreService AuthStoreService
@inject NavigationManager NavigationManager

@if (AuthStoreService.IsLoggedIn)
{
    NavigationManager.NavigateTo(Redirect ?? "", false, true);
    return;
}

<PageHeader Value="Login" />

<MudContainer Class="my-8 py-8" MaxWidth="MaxWidth.ExtraSmall">
    <MudText Typo="Typo.h4" GutterBottom="true" class="mb-5">ログイン</MudText>

    <EditForm Model="@_loginCommand" OnValidSubmit="SubmitAsync">
        <DataAnnotationsValidator />

        <MudTextField Class="my-2" FullWidth="true" Label="Email" @bind-Value="@_loginCommand.Email"
            For="@(() => _loginCommand.Email)" />
        <MudTextField Class="my-2" FullWidth="true" Label="パスワード" @bind-Value="@_loginCommand.Password"
            For="@(() => _loginCommand.Password)" InputType="InputType.Password" />

        <MudButton Class="mt-7" Variant="Variant.Filled" StartIcon="@Icons.Filled.Login"
            Color="Color.Primary" FullWidth="true" ButtonType="ButtonType.Submit"
            Disabled="@_isLoading">
            ログイン
            <ButtonLoadingOverlay Visible="@_isLoading" />
        </MudButton>
    </EditForm>

    <MudDivider Class="my-6" />

    <div class="d-flex justify-center">
        <MudText Typo="Typo.body2">
            アカウントが未登録ですか？
            <MudLink Href="signup" Typo="Typo.body2">ユーザー登録</MudLink>
        </MudText>
    </div>
</MudContainer>