@using Domain.Todos.ValueObjects
@using Client.Components

<MudTable Items="Items" Hover Elevation="0" AnchorOrigin="Origin.BottomLeft" Loading="@IsLoading">
    <ToolBarContent>
        <MudSpacer />
        <form class="d-flex justify-end" @onsubmit="@DoSearch">
            <MudTextField @bind-Value="@SearchText" Placeholder="検索" Adornment="Adornment.Start"
                Margin="Margin.Dense" AdornmentIcon="@Icons.Material.Filled.Search"
                Class="mt-0 mb-4" Style="width: 300px" Clearable OnClearButtonClick="@DoSearch" />
        </form>
    </ToolBarContent>

    <HeaderContent>
        <MudTh Style="width: 100%">タイトル</MudTh>
        <MudTh Style="min-width: 150px">開始日</MudTh>
        <MudTh Style="min-width: 150px">終了日</MudTh>
        <MudTh Style="width: 150px; text-align: center;">状態</MudTh>
        <MudTh Style="width: 50px; text-align: center;"></MudTh>
    </HeaderContent>

    <RowTemplate>
        <MudTd DataLabel="タイトル"
            Style="@((IsOwnedByUser(context) ? "cursor: pointer" : null))"
            @onclick="@(() => EditItem(context))">
            <MudLink Typo="Typo.body2" Disabled="@(!IsOwnedByUser(context))">
                @context.Title
            </MudLink>
        </MudTd>
        <MudTd DataLabel="開始日">@(context.StartDate?.ToShortDateString() ?? "-")</MudTd>
        <MudTd DataLabel="終了日">@(context.EndDate?.ToShortDateString() ?? "-")</MudTd>
        <MudTd DataLabel="状態" style="text-align: center">
            <MudMenu Dense>
                <ActivatorContent>
                    <MudChip Icon="@(GetTodoIcon(context))" Color="@(GetTodoChipColor(context))">
                        @context.State.ToUpper()
                    </MudChip>
                </ActivatorContent>
                <ChildContent>
                    @foreach (var state in TodoState.Status)
                    {
                        <MenuButton
                            OnClick="@(() => ChangeState(context, state))"
                            Disabled="@(IsDisabledChangeState(context, state))">
                            @(state.DisplayValue)に切り替え
                        </MenuButton>
                    }
                </ChildContent>
            </MudMenu>
        </MudTd>
        <MudTd DataLabel="" style="text-align: center">
            <MudMenu Dense Icon="@Icons.Material.Filled.MoreVert" Disabled="@(!IsOwnedByUser(context))">
                <MenuButton OnClick="@(() => EditItem(context))">
                    編集
                </MenuButton>
                <MenuButton OnClick="@(() => DeleteItem(context))">
                    削除
                </MenuButton>
            </MudMenu>
        </MudTd>
    </RowTemplate>
</MudTable>

<MudMessageBox @ref="DeleteConfirm" Title="Todoの削除" CancelText="キャンセル">
    <MessageContent>
        本当にこのTodoを削除しますか？
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever">
            削除
        </MudButton>
    </YesButton>
</MudMessageBox>