@using Domain.Todos.ValueObjects
@using Client.Components.Common
@using Application.Todos.Models

<MudTable @ref="_table" ServerData="@(new Func<TableState, Task<TableData<TodoResultDTO>>>(ServerReload))"
        Hover Elevation="0" AnchorOrigin="Origin.BottomLeft" >

    <ToolBarContent>
        <MudSpacer />
        <form class="d-flex justify-end" style="width: 300px" @onsubmit="@DoSearch">
            <MudTextField @bind-Value="@Parameter.Q" Placeholder="検索" Adornment="Adornment.Start"
                Margin="Margin.Dense" AdornmentIcon="@Icons.Material.Filled.Search"
                Class="mt-0" Clearable OnClearButtonClick="@DoSearch" />
        </form>
    </ToolBarContent>

    <HeaderContent>
        <MudTh Style="width: 100%">
            <MudTableSortLabel T="TodoResultDTO" SortLabel="Title"
                InitialDirection="@(GetSortDirection("Title"))" SortDirectionChanged="@(d => SetSortDirection("Title", d))">
                タイトル
            </MudTableSortLabel>
        </MudTh>
        <MudTh Style="min-width: 110px">
            <MudTableSortLabel T="TodoResultDTO" SortLabel="StartDate"
                InitialDirection="@(GetSortDirection("StartDate"))" SortDirectionChanged="@(d => SetSortDirection("StartDate", d))">
                開始日
            </MudTableSortLabel>
        </MudTh>
        <MudTh Style="min-width: 110px">
            <MudTableSortLabel T="TodoResultDTO" SortLabel="EndDate"
                InitialDirection="@(GetSortDirection("EndDate"))" SortDirectionChanged="@(d => SetSortDirection("EndDate", d))">
                終了日
            </MudTableSortLabel>
        </MudTh>
        <MudTh Style="width: 150px; text-align: center;">
            <MudTableSortLabel T="TodoResultDTO" SortLabel="State"
                InitialDirection="@(GetSortDirection("State"))" SortDirectionChanged="@(d => SetSortDirection("State", d))">
                状態
            </MudTableSortLabel>
        </MudTh>
        <MudTh Style="width: 110px; text-align: center;">
            <MudTableSortLabel T="TodoResultDTO" SortLabel="UpdatedOn"
                InitialDirection="@(GetSortDirection("UpdatedOn"))" SortDirectionChanged="@(d => SetSortDirection("UpdatedOn", d))">
                更新日
            </MudTableSortLabel>
        </MudTh>
        <MudTh Style="width: 50px; text-align: center;"></MudTh>
    </HeaderContent>

    <RowTemplate>
        <MudTd DataLabel="タイトル"
            Style="@((IsOwnedByUser(context) ? "cursor: pointer" : null))"
            @onclick="@(() => EditItem(context))">
            <MudLink Typo="Typo.body2" Disabled="@(!IsOwnedByUser(context))">
                @context.Title
            </MudLink>
        </MudTd>
        <MudTd DataLabel="開始日">@(context.StartDate?.ToShortDateString() ?? "-")</MudTd>
        <MudTd DataLabel="終了日">@(context.EndDate?.ToShortDateString() ?? "-")</MudTd>
        <MudTd DataLabel="状態" Style="text-align: center">
            <MudMenu Dense>
                <ActivatorContent>
                    <MudChip Icon="@(GetTodoIcon(context))" Color="@(GetTodoChipColor(context))">
                        @context.State.ToUpper()
                    </MudChip>
                </ActivatorContent>
                <ChildContent>
                    @foreach (var state in TodoState.Status)
                    {
                        <MudButton Class="mud-menu-button"
                            OnClick="@(() => ChangeState(context, state))"
                            Disabled="@(IsDisabledChangeState(context, state))">
                            @(state.DisplayValue)に切り替え
                        </MudButton>
                    }
                </ChildContent>
            </MudMenu>
        </MudTd>
        <MudTd DataLabel="更新日">@(context.UpdatedOn.ToShortDateString())</MudTd>
        <MudTd DataLabel="" Style="text-align: center">
            <MudMenu Dense Icon="@Icons.Material.Filled.MoreVert" Disabled="@(!IsOwnedByUser(context))">
                <MudButton Class="mud-menu-button" StartIcon="@Icons.Filled.Edit" OnClick="@(() => EditItem(context))">
                    編集
                </MudButton>
                <MudButton Class="mud-menu-button" StartIcon="@Icons.Filled.Delete" OnClick="@(() => DeleteItem(context))">
                    削除
                </MudButton>
            </MudMenu>
        </MudTd>
    </RowTemplate>

    <PagerContent>
        <div class="d-flex justify-center">
            <PaginationLink Data="@Data" Class="pa-4" />
        </div>
    </PagerContent>
</MudTable>

<MudMessageBox @ref="_deleteConfirm" Title="Todoの削除" CancelText="キャンセル">
    <MessageContent>
        本当にこのTodoを削除しますか？
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever">
            削除
        </MudButton>
    </YesButton>
</MudMessageBox>